- name: download oh-my-zsh
  git:
    repo: "https://github.com/ohmyzsh/ohmyzsh.git"
    dest: "{{ansible_user_dir}}/.oh-my-zsh"

- name: download zsh-completions
  git:
    repo: "https://github.com/zsh-users/zsh-completions"
    dest: "{{ansible_user_dir}}/.oh-my-zsh/custom/plugins/zsh-completions/"

- name: download zsh-syntax-highlighting
  git:
    repo: "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    dest: "{{ansible_user_dir}}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting/"

- name: download zsh-autosuggestions
  git:
    repo: "https://github.com/zsh-users/zsh-autosuggestions"
    dest: "{{ansible_user_dir}}/.oh-my-zsh/custom/plugins/zsh-autosuggestions/"

- name: get local editor preference
  pause:
    prompt: "Please enter the command name you want to use as your default editor (nano/vim/subl -w/code --wait --new-window)?"
  register: prompt

- set_fact:
    EDITOR: "{{ prompt.user_input | default(DEFAULT_EDITOR, true) }}"

- name: install oh-my-zsh and configure .zshrc
  template:
    src: "zshrc"
    dest: "{{ansible_user_dir}}/.zshrc"
    backup: yes

- name: set default shell to zsh for root
  shell: chsh -s $(which zsh)
  become: yes
  register: chsh_result
  changed_when: '"chsh: no changes made" not in chsh_result.stderr and chsh_result.rc == 0'

- name: set default shell to zsh for current user
  shell: "chsh -s $(which zsh) {{ ansible_user_id }}"
  become: yes
  register: chsh_result
  changed_when: '"chsh: no changes made" not in chsh_result.stderr and chsh_result.rc == 0'
