[user]
  name = {{ user_git_name }}
  email = {{ user_github_email }}
[alias]
  co = checkout
[core]
  excludesfile = ~/.gitexcludes
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[diff]
  colorMoved = default
[color]
  branch = auto
  diff = auto
  interactive = auto
  pager = true
  status = auto
  ui = true
[color "status"]
  added = green
  changed = yellow
  untracked = red
[push]
  default = simple
[merge]
  conflictstyle = diff3
[mergetool "bc3"]
  trustExitCode = true
[pull]
  rebase = false
